    <footer class="page-footer">
      <div class="container">
        <div class="row valign-wrapper">
          <div class="col hide-on-med-and-down l4">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">I have no idea what to put here.<br>I guess you can contact me or whatever:</p>
            <p class="grey-text text-lighten-2">
              <a class="link-white" href="mailto:mmichelsen.ta+sitefeedback@mysummitps.org">School email</a> / 
              <a class="link-white" href="mailto:notnat.tlikehis+sitefeedback@gmail.com">Personal email</a>
            </p>
          </div>
          <div class="col hide-on-med-and-down l4 push-l4">
            <h5 class="white-text right-align">Made with Help</h5>
            <p class="grey-text text-lighten-4 right-align">Nothing is ever made alone.<br>This website is no exception.</p>
            <p class="grey-text text-lighten-2 right-align">
              <a class="link-white" href="http://materializecss.com/">Materialize-css</a> + 
              <a class="link-white" href="http://codeanywhere.com/">CodeAnywhere</a>
            </p>
          </div>
          <div class="col s12 l4 pull-l4 valign center-align">
            <a href="/" class="brand-logo"><h4 class="grey-text text-lighten-4">Logo</h6></a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Matthew Michelsen
        <a class="link-white right" href="site">Old site</a>
        </div>
      </div>
    </footer>
